

/*--------------------------------------------------------------
# Google Translate
--------------------------------------------------------------*/
.skiptranslate, .VIpgJd-ZVi9od-aZ2wEe-wOHMyf{
  display: none !important;

}
.goog-te-banner-frame.skiptranslate,
 .goog-te-gadget-simple img,
 .goog-tooltip,
 .goog-tooltip:hover{
  display: none !important;
}
.goog-text-highlight{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
#goog-gt-tt{
  display: none !important;
}
.goog-te-banner-frame{
  display: none !important;
}
body{
  margin-top: 0 !important;
}
